* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  z-index: 1000;
}

.logo {
  color: #38bdf8;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
}

.navbar a:hover {
  color: #38bdf8;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #020617, #0f172a);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10%;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero span {
  color: #38bdf8;
}

.hero p {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 30px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.btn:hover {
  background: #0ea5e9;
}

/* Sections */
.section {
  padding: 100px 10%;
  text-align: center;
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #38bdf8;
}

.section p {
  max-width: 900px;
  margin: 10px auto;
  font-size: 18px;
}

.dark {
  background: #020617;
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.skill {
  background: #0f172a;
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid #38bdf8;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  font-size: 14px;
  color: #94a3b8;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .hero h2 {
    font-size: 2.2rem;
  }

  .navbar ul {
    display: none;
  }
}
